/*
MAIN THINGS
*/
h1 {
   /* event-name */
}
h3{ color: #98b9cf;}

.link {
  color: #95b8d5; /*PURPLE */
  font-family: "sans-serif";
}
p{
  font-family: "sans-serif";
}
.flash{
  width: 70%;
  padding: 10px;
  background-color: #CCDAC1; /* PALE GREEN*/
  border: 1px solid #BAC3AE;
  color: white;
  border-radius: 4px;
  margin: 20px auto;
}
.separator {
  border-top: 1px dashed #C581CC;
  width: 90%;
}

/*
LOGIN PAGE
*/
.form {
  margin-left: 30px;
  z-index: 1;
  font-family: "Cookie";
  font-size: 2rem;
  color: dimgrey;
}
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  z-index: 1;
  opacity: 0.8;
  color: dimgrey;
  margin-bottom: 30px;
}

.login-link {
  z-index: 1;
  color: dimgrey;
  font-family: "Cookie";
}

.login-button{
  font-size: 15px;
  font-family: "Cookie";
}

textarea{
  resize: none;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.back-form{
  background-color: #CEEAF7;
  margin: 0;
}

/*
NAVBAR
*/
.nav{
  height: 70px;
  background-image: url("../images/navbarback.png");
  width: 100%;
  font-family: "Delius Unicase";
}
.nav ul{
  margin: 0;
  list-style: none;
}
.nav li{
  font-family: 'Delius Unicase';
  font-size: 20px;
  float: left;
}
.nav a {
  padding: 21px 20px;
  text-decoration: none;
  display: inline-block;
  color: grey;
}
.nav a:hover{
  background-color: #75A8B3;
  color: white;
}

/*
 INDEX.HTML POST EVENT FORM
 */

.title-h1{
  text-align: left;
  font-size: 6rem;
  font-family: "Delius Unicase";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

.post-label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.postform {
  width: 60%;
  margin: 60px auto;
  background: #FAEAEA;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #CF98C2;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: "Delius Unicase";
  font-size: 1.2em;
  letter-spacing: 1px;
  color: #CF98C2;
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

.submit {
  display: inline-block;
  padding: 12px 24px;
  transition: ease .3s;
}

.button{
  background-color: #CF98C2;
  color: white;
  font-family: "Delius Unicase";
  border-radius: 12px;
  border: 2px solid #CF98C2;
  padding: 10px 20px;
}
.button:hover{
  background-color: transparent;
  color: #CF98C2;
}

/*
 POST CSS
*/
.event{
  padding-left: 20px;
  width: 100%;
}
.event-name{
  font-family: 'Delius Unicase';
  color: #C581CC; /* PURPLE */
  font-size: 40px;
  padding-left: 20px;
}
.event-month{
  color: #CF98C2; /* PURPLE */
  font-size: 61px;
  font-family: 'Delius Unicase';
}
.event-day{
  font-size: 96px;
  text-align: center;
  font-family: 'Delius Unicase';
  color: white;
  margin-bottom: 0;
}
.event-description{
  background-color: #FAEAEA;
  border-radius: 5px;
  padding: 20px;
  font-family: "sans-serif";
  margin: 5px;
}
.event-photo{
  align: right;
}
.event-photo img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.event-info{
  font-family: "sans-serif";
  font-size: 12px;
}
.fondo{
  background-color: dimgrey;
  border-radius: 4px;
  padding: 0 30px;
}
table .date {
  padding: 0 30px;
}
.post{
  border: 1px solid dimgrey;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
}

/*
USER
*/
.user{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  grid-template-rows: auto auto;
  padding: 20px;
  border: 1px solid #F8BAAD;
  border-radius: 10px;
}
.profilepic{
  justify-content: center;
  align-items: center;
}
.profilepic img{
  border-radius: 100px;
  width: 200px;
  object-fit: cover;
}
.profilepic p {
  text-align: center;
}
.profile-info{
  margin: auto;
}
.followers{
  border: 1px dashed #F8BAAD; /*PASTEL ORANGE */
  font-family: "sans-serif";
  width: 20%;
  float: left;
  border-radius: 12px;
}
.follower-label{
  padding-left: 3px;
}
.follower-count{
  padding-left: 5px;
}
.follow{
  background-color: #F8BAAD; /*PASTEL ORANGE */
  font-family: "sans-serif";
  color: white;
  margin: auto;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 18px;
}
.user-events{
  font-family: 'Delius Unicase';
  color: #F8BAAD; /* PASTLE */
  font-size: 40px;
  padding-left: 7%;
}
