<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="{{ url_for('static', filename='js/posteventform') }}" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

<div class="post">
  <table>
    <tr class="date">
      <td class="fondo">
        <p class="event-month">{{ post.date.strftime("%b") }}</p>
        <p class="event-day">{{ post.date.strftime("%d") }}</p>
      </td>
      <td class="event">
        <a href="{{ url_for('post', post_id=post.id) }}" class="event-name">
          {{ post.title }}
        </a>
        <br>
        <div class="event-description">
          {{ post.body }}
        </div>
        <div class="event-info">
          Posted by:
          <a class="link" href="{{ url_for('user', username=post.author.username) }}">
            {{ post.author.username }}
          </a>
          {{ moment(post.timestamp).fromNow() }}
          <br>
          {{ post.date.strftime("%a, %b %d %Y") }}
          at {{ post.time.strftime("%H:%M") }}
          <br>
          <img src="../static/images/location.png" height="20px">
          {{ post.venue }}
        </div>
        {% if post.author.username == current_user.username %}
        <a class="link" href="{{ url_for('update_post', post_id=post.id) }}">Edit event</a>
        <a class="link" href="{{ url_for('delete_post', post_id=post.id) }}">Delete event</a>
        {% endif %}
        {% if post.author.username != current_user.username %}
        <a class="link" href="{{ url_for('interested', post_id=post.id, user_id=current_user.id) }}">Interested</a>
        <br>
        <a class="link" href="{{ url_for('not_interested', post_id=post.id, user_id=current_user.id) }}">Not Interested anymore</a>
        <br>
        {% endif %}
        <a class="link" href="{{ url_for('comment', post_id=post.id)}}">Comments</a>
      </td>
      <td class="event-photo">
        <img src="{{ post.eventphoto }}">
      </td>
    </tr>
  </table>
</div>
