{% extends 'bootstrap/base.html' %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="{{ url_for('static', filename='js/posteventform') }}" type="text/javascript"></script>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

{% block title %}
      {{ title }}
{% endblock %}

{% block navbar %}

  <div class="nav">
    <ul>
      <li><a href="{{ url_for('explore') }}">Discover Events</a></li>
      <li><a href="{{ url_for('index') }}">Post Event</a></li>
      <li><a href="{{ url_for('messages') }}">Messages
          {% set new_messages = current_user.new_messages() %}
          {% if new_messages %}
            <span>{{ new_messages }}</span>
          {% endif %}
      </a></li>
      <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  </div>

{% endblock %}

{% block content %}
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}
        {% endblock %}

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
