<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="{{ url_for('static', filename='js/posteventform') }}" type="text/javascript"></script>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="event-name">Edit Profile</h1>
    <div>
        {% if form %}
          <form class="postform back-form"method="post" enctype="multipart/form-data">
            {{ form.hidden_tag () }}
            {{ form.csrf_token }}
            <label class="post-label">
              {{ form.username.label (class="label-txt") }}
              {{ form.username (class="input") }}
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            <label class="post-label">
              {{ form.email.label (class="label-txt") }}
              {{ form.email (class="input") }}
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            <label class="post-label">
              {{ form.about_me.label (class="label-txt") }}
              {{ form.about_me (class="input") }}
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            <label class="post-label">
              {{ form.profilepic.label (class="label-txt") }}
              {{ form.profilepic }}
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            <label class="post-label">
              {{ form.submit (class="button") }}
            </label>
          </form>
        {% else %}
          <h1>Something went wrong!</h1>
        {% endif %}
    </div>
{% endblock %}
