<head>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Delius Unicase" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="section">

  <h1>Eventsually</h1>

  <form class="form" action="" method="POST">
    {{ form.hidden_tag () }}
    <div class="form-group">
      {{ form.username.label () }}
      {{ form.username ( class="form-control", id="username") }}
    </div>
    <div class="form-group">
      {{ form.password.label () }}
      {{ form.password (size=32, class="form-control", id="password", type="password") }}
    </div>
    <div class="form-group">
      {{ form.submit (class="button login-button") }}
    </div>
    <div class="form-group">
      <a href="{{ url_for('register') }}" class="login-link">Register</a> <br>
      <a href="{{ url_for('reset_password_request') }}" class="login-link">Forgot my password</a>
    </div>
  </form>
  <br>

  <div class="video-container">
    <div class="color-overlay"></div>
    <video autoplay loop muted>
      <source src="{{ url_for('static', filename="video.mp4") }}" type="video/mp4">
    </video>
  </div>

  </div>

  {% endblock %}
