<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="{{ url_for('static', filename='js/posteventform') }}" type="text/javascript"></script>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

{% extends "base.html" %}

{% block app_content %}
<div class="user">

  <div class="profilepic">
    {% if image_file %}
    <p><img src="{{ image_file }}"></p>
    {% endif %}
    <h1 class="event-name" align="center">{{ user.username }}</h1>
    {% if user.about_me %}
    <p align="center">{{ user.about_me }}</p>
    {% endif %}
    {% if user.last_seen %}
    <p align="right">Last seen: {{ moment(user.last_seen).calendar() }}</p>
    {% endif %}
  </div>
  <br>
  <div class="profile-info">
    <div class="followers">
      <table>
        <tr>
          <td class="follower-count">{{ user.followers.count() }}</td>
          <td class="follower-label">followers</td>
        </tr>
      </table>
    </div>
    <div class="followers">
      <table>
        <tr>
          <td class="follower-count">{{ user.followed.count() }}</td>
          <td class="follower-label">following</td>
        </tr>
      </table>
    </div>
    {% if user == current_user %}
    <div class="profile-info">
      <p><a class="link" href="{{ url_for('edit_profile') }}">Manage profile</a></p>
      {% elif not current_user.is_following(user) %}
      <div><a class="follow" href="{{ url_for('follow', username=user.username) }}">Follow</a></div>
      {% else %}
      <div><a class="follow" href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></div>
      {% endif %}
      <br><br>
      {% if user != current_user %}
      <p><a class="link" href="{{ url_for('send_message', recipient=user.username) }}">Message</a></p>
    </div>
    {% endif %}
  </div>
</div>
</div>
<h1 class="user-events">{{ user.username }}'s events:</h1>
<hr class="separator">
{% for post in posts %}
  {% include '_post.html' %}
{% endfor %}

<h1 class="user-events">Events {{ user.username }} will be attending:</h1>
<hr class="separator">
{% for post in postList %}
{% include '_post.html' %}
{% endfor %}

{% endblock %}
